{% extends 'map.html' %}

{% load static %}

{% block header %}
    {{ block.super }}
    <style>
        #skew {
            font-size: 10px;
            position: absolute;
            top: 0;
            left: 50%;
            height: 56px;
            white-space: pre;
            mask-image: linear-gradient(to bottom, black, black 1.2em, transparent);
            -webkit-mask-image: linear-gradient(to bottom, black, black 1.2em, transparent);
        }
    </style>
    <div id="skew"></div>
{% endblock header %}

{% block footer %}
    <link rel="stylesheet" href="{% static 'dist/js/firehose-map.css' %}">
    <script src="{% static 'dist/js/firehose-map.js' %}"></script>
{% endblock footer %}
