{% load urlise %}

{% if situations %}
<div class="situations">
{% for situation in situations %}
    {% if situation.summary != 'Does not stop here' %}

    {% if situation.text %}
        {{ situation.text|linebreaks|urlise }}
    {% endif %}
    {% for consequence in situation.consequences %}
        {% ifchanged consequence.text %}{% if consequence.text and consequence.text not in situation.text %}
            {{ consequence.text|linebreaks|urlise }}
        {% endif %}{% endifchanged %}
    {% endfor %}
    {% for link in situation.link_set.all %}
        <p>{{ link.url|urlise }}</p>
    {% endfor %}

        {% if situation.text %}
            {{ situation.text|linebreaks|urlise }}
        {% endif %}
        {% for consequence in situation.consequences %}
            {% ifchanged consequence.text %}{% if consequence.text and consequence.text != situation.text %}
                {{ consequence.text|linebreaks|urlise }}
            {% endif %}{% endifchanged %}
        {% endfor %}
        {% for link in situation.link_set.all %}
            <p>{{ link.url|urlise }}</p>
        {% endfor %}
    {% endif %}
    {% if situation.summary and situation.show_summary %}</details>{% else %}</div>{% endif %}
{% endfor %}
</div>
{% endif %}
