interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.travelinedata.org.uk/noc/api/1.0/nocrecords.xml
  response:
    body:
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <travelinedata generationDate="2024-06-04T14:18:05Z" reportName="NOC_Complete">
            <DataOwner>
                <DataOwnerRecord>
                    <DOId>1</DOId>
                    <DataOwner>Traveline Information Ltd</DataOwner>
                    <Inits>JRP</Inits>
                </DataOwnerRecord>
            </DataOwner>
            <NOCLines>
                <NOCLinesRecord>
                    <NOCLineNo>9080</NOCLineNo>
                    <NOCCODE>=AW</NOCCODE>
                    <PubNm>Transport for Wales</PubNm>
                    <RefNm>Transport for Wales (ATOC)</RefNm>
                    <Licence/><Mode>Rail</Mode>
                    <TLRegOwn>Admin</TLRegOwn>
                    <EBSRAgent/><LO/><SW/><WM>=AW</WM>
                    <WA>=AW</WA>
                    <YO/><NW/><NE>AW</NE>
                    <SC/><SE>=AW</SE>
                    <EA>=AW</EA>
                    <EM>=AW</EM>
                    <NI/><NX/><Megabus/><NewBharat/><Terravision/><NCSD/><Easybus/><Yorks_RT/><TravelEnq/><Comment/><AuditDate>2018-11-06 00:00:00</AuditDate>
                    <AuditEditor>Amy Brown</AuditEditor>
                    <AuditComment>Updated public name</AuditComment>
                    <Duplicate>OK</Duplicate>
                    <DateCeased/><CessationComment/>
                </NOCLinesRecord>
                <NOCLinesRecord>
                    <NOCLineNo>9081</NOCLineNo>
                    <NOCCODE>=CC</NOCCODE>
                    <PubNm>c2c</PubNm>
                    <RefNm>c2c (ATOC)</RefNm>
                    <Licence/><Mode>Rail</Mode>
                    <TLRegOwn>Admin</TLRegOwn>
                    <EBSRAgent/><LO/><SW/><WM>=CC</WM>
                    <WA>=CC</WA>
      [...]
